{% extends 'OroIssueBundle:Issue:create.html.twig' %}

{% block title %} {% trans %}Edit Issue{% endtrans %} {% endblock %}

{% block header %}
    <h1>{% trans %}Edit Issue{% endtrans %}</h1>
{% endblock %}
