{% extends 'base.html.twig' %}

{% block title %} {% trans %}Edit User{% endtrans %} {% endblock %}

{% block body %}
    <h1>{% trans %}Edit User{% endtrans %}</h1>
    <a href="{{ path('_user') }}">{% trans %}Back to Users List{% endtrans %}</a>
    <br/>
    <br/>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}